body{
    font-weight: bold;
    background-color: rgb(255, 175, 77);
    font-family: 'Nunito', sans-serif;
    color: #2b2b2b;
}

.wdkanwdhawhu{
    justify-self: center;
    height: 650px;
    background-color: hsl(33, 100%, 88%);
    width: 35%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.384);
    margin-top: 50px;
    transition: 0.3s ease 0.2s;
}
.titulo{
    padding-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

#form{
    text-align: center;
}
input[type="number"]{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}

button{
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease 0.2s;
    margin-top: 100px;
    background-color: bisque;
    color: #2b2b2b;
    font-size: medium;

}
button:hover{
    background-color: #fcbd75;
    transform: translateY(-5px);
    

}

.labeis{
    margin-top: 20px;
    font-size: large;
}
#resultado{
    font-size: 24px;
}

.wdkanwdhawhu:hover{
    transform: translateY(-5px);
}
